In [32]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
#from config import api_key

In [8]:
alien_5y_df = pd.read_csv('../project-1-alien-analysis/scrubbed.csv')
alien_5y_df.dropna(inplace = True) 
alien_5y_df.head()

NameError: name 'pd' is not defined

In [9]:
alien_5y_df.sort_values(by=['datetime'], inplace=True, ascending=False)
alien_5y_df.head()

NameError: name 'alien_5y_df' is not defined

In [40]:
#alien_5y_df['datetime'] = [r.hour for r in alien_5y_df.datetime]
alien_5y_df= pd.to_datetime(alien_5y_df)

#bins
bins = [

    1992-01-01 00:0:01,
    1997-01-01 00:0:01,
    2002-01-01 00:0:01,
    2007-01-01 00:0:01,
    2012-01-01 00:0:01,
    2015-01-01 00:0:01
   ]
# add custom labels if desired
labels = ['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2015']
# add the bins to the dataframe
alien_5y_df['datetime'] = pd.cut(alien_5y_df.date.dt.year, bins, labels=labels, right=False)

SyntaxError: invalid token (<ipython-input-40-da40abc6bd09>, line 7)

In [ ]:
sigtings =

In [39]:
year =['1992-1996', '1997-2001', '2002-2006', '2007-2011', '2012-2015']

plt.plot(timedate,sigtings)
plt.title('title name')
plt.xlabel('Years')
plt.ylabel('Number of Sightings')
plt.show()

NameError: name 'timedate' is not defined